nav {
    padding:10px;
    margin-bottom:30px;
    background-color: #483d8b;
}
nav a {color:white;}
nav {color:white}
nav a:hover{background-color: #C27DFF;}

body {
    background-color: #D8B3F9;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}