nav {
    padding:10px;
    margin-bottom:30px;
    background-color: #483d8b;
}
nav a {color:white;}
nav {color:white}
nav a:hover{background-color: #C27DFF;}

body {
    background-color: plum;
    color:#ffffff;
}

#slideshow-container {
    background-color: #D8B3F9;;
    width: 1200px;
    margin: auto; /* margin auto is centering this container */        
}
#bigimages {margin-right: 100px;}
#bigimages img {
height: 300px;
}
#catinfo {padding: 100px;}
#thumbnails {width: 840px; margin: auto; padding-top: 20px;} 
/* ^^ margin auto is centering this container */
#mochathumb1, #beanthumb1, #mochathumb2, #beanthumb2
{width: 100px;}